@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Mochiy+Pop+One&family=Young+Serif&display=swap');


*{
    margin: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    background-image: url(./images/bg_pic.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
/* ================the nave baer goes here =====================*/
.navebar{
    position: fixed;
    top: 0;
    width: 100%;
    background: #1e313fc0;
    font-family: 'Young Serif', serif;
}
.navebar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navebar .logo img{
    width: 150px;
    height: 110px;
}
.navebar .menu li{
     display: inline;
     list-style: none;
    
    
}
.navebar .menu li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    color: #fff;
    position: relative;
}
.navebar .menu li a::after{
    content: '';
    width: 0;
    height: 5px;
    background: rgb(223, 10, 10);
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.6s;
}
.navebar .menu li a:hover::after{
    width: 100%;
}
/* menu but styling */
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
/* ===========================================================
            the naveber end's here........!!!!!!!
=========================================================== */
.home_page{
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pic{
    padding-right: 150px;
}
.text{
    color: #fff;
}
.job{
    color: aqua;
}
.sociol_link{
    font-size: 25px;
    display: flex;
    gap: 20px; 
    margin-top: 30px;
}
.button{
    padding-top: 20px;
}
button{
    height: 30px;
    width: 150px;
    margin-left: 20px;
    border: 1px solid red;
    border-radius: 15px;
    background-color: rgba(127, 255, 212, 0.705);
}
button:hover{
    background-color: aqua;
    transition: 0.5s;
    
}
/* ==================== the home page end's  here====================== */
.about_part{
    width: 100%;
}
.contaner{
    width: 80%;
    display: flex;
}
.left{
    padding-top: 100px;

}
.title_of_About{
    padding-left: 50px;
    font-size: 33px;
    font-family: 'Kanit', sans-serif;
    color: rgba(187, 64, 64, 0.815);
}
pre{
    color: #fff;
    line-height: 30px;
    font-family: 'Young Serif';
    font-size: 16px;
}
.sima{
    margin-left: 190px;
    margin-bottom: 50px;
    background-color: rgba(92, 92, 241, 0.603); 
}
.right img{
    padding-top: 90px;
}
/* ===================================my services starts here ========================== */
.title_Services{
    padding-top: 10px;
    text-align: center;
    font-size: 35px;
    font-family: 'Kanit', sans-serif;
    color: rgba(187, 64, 64, 0.815);
}
.contaner-ser{
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
.contaner-ser .items{
    flex: 1;
    width: 18rem;
    height: 120px;
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 400px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.541);
    
}
.contaner-ser .items img{
    max-height: 286px;
    max-width: 180px;
}
.contaner-ser .items h3{
    padding-top: 10px;
    color: rgb(211, 111, 111);
}
.contaner-ser .items p{
    padding-top: 7px;
    color: #fff;
}










/* renponsive miadia query start */
@media(max-width:991px){
    .max-width{
        padding: 0 50px;
    }
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .navebar .menu{
        position: fixed;
        height: 120vh;
        background: #111111;
        width: 100%;
        left: -100px;
        top: 0;
        text-align: center;
        padding-top: 50px;
    }
    .navebar .menu.open{
        left: 0;
    }
    .navebar .menu li{
        display: block;
    }
    .navebar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
}


